@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* background  */
section {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: #121321;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	perspective: 1000px;
}

/* creating dots  */
section::before {
	content: "";
	position: absolute;
	height: 240px;
	width: 240px;
	background: linear-gradient(90deg, #9c27b0, #f3f5f5);
	border-radius: 50%;
	transform: translate(-150px, -100px);
}

section::after {
	content: "";
	position: absolute;
	height: 240px;
	width: 240px;
	background: linear-gradient(90deg, #9c27b0, #f3f5f5);
	border-radius: 50%;
	transform: translate(150px, 100px);
}

.container {
	position: relative;
	width: 375px;
	height: 225px;
	z-index: 100;
	transform-style: preserve-3d;
	transition: 0.6s;
}

.container:hover {
	transform: rotateY(180deg);
}

.container .card {
	position: absolute;
	background: rgba(255, 255, 255, 0.1);
	height: 100%;
	width: 100%;
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 25px;
	backdrop-filter: blur(25px);
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

/* front face of card  */

.front-face header,
.front-face .logo {
	display: flex;
	align-items: center;
}

.front-face header {
	justify-content: space-between;
}

.front-face .logo img {
	width: 48px;
	margin-right: 10px;
}

h5 {
	font-size: 16px;
	font-weight: 400;
}

.front-face .chip {
	width: 50px;
}

.front-face .card-details {
	display: flex;
	margin-top: 40px;
	justify-content: space-between;
	align-items: flex-end;
}

h6 {
	font-size: 10px;
	font-weight: 400;
}

h5.number {
	font-size: 18px;
	letter-spacing: 1px;
}

h5.name {
	margin-top: 20px;
}

/* back face of card  */
.card.back-face {
	border: none;
	padding: 15px 25px 25px 25px;
	transform: rotateY(180deg);
}

.card.back-face .magnetic-strip {
	position: absolute;
	top: 40px;
	left: 0;
	margin-top: 10px;
	height: 45px;
	width: 100%;
	background-color: #000;
}

.card.back-face .signature {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: repeating-linear-gradient(
		#fff,
		#fff 3px,
		#efefef 0px,
		#efefef 9px
	);
	margin-top: 80px;
	height: 40px;
	width: 85%;
	border-radius: 6px;
}

.signature i {
	color: black;
	font-size: 12px;
	background-color: white;
	margin-right: -30px;
	padding: 4px 6px;
	z-index: -1;
}

.card.back-face h5 {
	font-size: 8px;
	margin-top: 15px;
}

.card.back-face h6 {
	font-size: 10px;
	font-weight: 400;
}
